<html>
    <head>
        <title> Receive</title>
    </head>

    <body>
       이름 : <%=name%> <br>
       아이디 : <%=Id%> <br>
       프로필 : <%=Profile%> <br>
       성별 : <%=gender%> <br>
       연도 : <%=year%> <br>
       월   : <%=month%> <br>
       일   : <%=day%>   <br>
       관심사 : <%=interest%>
                 
    </body>
</html>