<html>
    <head>
        <title>receive</title>   
    </head>
    <body>
        이름:<%=name%>
        아이디:<%=Id%>
        프로필:<%=Profile%>
        성별:<%=gender%>
        연도:<%=year%>
        월:<%=month%>
        일:<%=day%>
        관심사:<%=interest%>
        
    </body>
</html>